h1, h2 {
  text-align: center;
}
h2 .glyphicon {
  font-size: 23px;
  margin-right: 10px;
}

.main-content {
  width: 620px;
  padding: 20px;
  margin: 50px;
  background: #f4f8fa;
}

.project-title {
  font-weight: 600;
}
.task {
  padding: 10px;
}
.task .duration {
  font-weight: 600;
}
.task.odd {
  background: #bee3ff;
}
.task.even {
  background: #d3eeff;
}

.total {
  font-weight: 600;
}

.duration .harvest-timer,
.duration .harvest-timer.styled {
  border: none;
  background: #1D6EAB;
  display: inline-block;
  margin-left: 5px;
  padding: 3px 4px;
  height: 21px;
  width: 20px;
}
.duration .harvest-timer:hover,
.duration .harvest-timer.styled:hover {
  background: #53A7E5;
}
.duration .harvest-timer-icon {
  background-position: -12px 0;
}
